.section-products{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1570px;
	margin: auto;
}
.section-search{
	max-width: 1570px;
	padding: 0 30px;
	margin: auto;
}
@media(min-width: 768px){
	.product{
		max-width: 340px;
	}
}
.product{
	margin: 15px;
	width: 100%;
	&__media{
		outline: 3px solid white;
		background-size: cover;
		max-width: 100%;
		max-height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	&__title{
		text-transform: uppercase;
		margin: 0 0 3px;
		font: 400 16px 'Open Sans Condensed', sans-serif;
		line-height: 18px;
		color: #efa121;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__author{
		font-size: 18px;
		line-height: 13px;
		margin: 0 0 3px;
		font-family: inherit;
		font-weight: bold;
		display: block;
		color: inherit;
		text-rendering: optimizelegibility;
		text-decoration: underline;
		font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #cfb798;
		&:hover,
		&:focus{
			color: #cfb798;
		}
	}
	&__link{
		position: relative;
		width: 140px;
		height: 184px;
		margin-right: 20px;
		display: block;
		float: left;
	}
	&__cover{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: yellow;
		z-index: 1;
		text-align: center;
		color: black;
		text-shadow: 0 0 10px white;
		background-color: rgba(247, 223, 30, 0.9);
		font: bold 18px 'Open Sans Condensed', sans-serif;
		line-height: 184px;
		transition: opacity .2s linear;
		text-transform: uppercase;
		opacity: 0;
		&:hover{
			opacity: 1;
		}
	}
	&__level{
		font-size: 10px;
		margin-bottom: 20px;
	}
	&__description{
		font-size: 12px;
		line-height: 1.5;
		margin-top: 17px;
		height: 70px;
		padding-bottom: 10px;
		overflow: hidden;
	}
}
.announcement{
	margin-bottom: 20px;
	&__title{
		display: inline;
		margin-right: 10px;
	}
	&__link{
		width: 100px;
		height: 16px;
		display: inline-block;
	}
	&__media{
		max-width: 100%;
	}
}
.filter{
	&__title{
		min-height: 28px;
		float: left;
		margin-right: 10px;
	}

	&__elem{
		float: left;
		margin-right: 10px;
		list-style: none;
	}
	&__item{
		color: #eedb59;
		font-size: 13px;
		&:hover,
		&:focus{
			color: #eedb59;
		}
		&.active{
			color: #fff;
		}
	}
}
.search{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
	padding: 10px;
	text-align: right;
	background-color: #252624;
	&__input{
		background-color: lighten(#252624, 15);
		border: none;
		display: block;
		max-width: 400px;
		width: 100%;
		padding: 3px 6px;
		height: 30px;
		margin-right: 3px;
		
		transition: box-shadow .25s ease-out;
		&:focus{
			outline: none;
			transition: box-shadow 0s;
			box-shadow: 0 0 2px 1px #EEDB59;
		}
	}
}