// Footer block
footer.footer
	hr.footer__decor 
	a(href="#").footer__logo
		img(src="http://jsbooks.revolunet.com/img/revologo.png", alt="revo logo").footer__logo-media
	p.footer__title We provide high quality web applications for desktop and mobile.
	a(href="#").footer__link Get in touch

// *** Scripts ***
// jQuery 1.10.1
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
//Angular (first)
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")