//Header block
header.header
	a(href="#")
		img(src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png", alt="git-fork").header__link
	img(src="http://jsbooks.revolunet.com/./img/logo_jsbooks.png", alt="logo").header__logo
	h1.header__title The best free JavaScript resources
	a(href="#").header__subtitle by revolunet - rich web apps for desktop and mobile
	a(href="#").header__info ?
	a(href="#").btn
		.btn__content
			i.btn__icon
			|Follow